{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="{{ request.user.profile.mode }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Shine a light on your data." />
        <meta name="author" content="Clifford Bressette" />
        <title>{% block title %}Flashlight{% endblock %}</title>
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link href="{% get_static_prefix %}css/themes/{{ request.user.profile.theme }}-bootstrap.min.css" rel="stylesheet" />
        <style>
            :root {
                --main-bg-color: var(--bs-{{ request.user.profile.background }});
                --main-fg-color: var(--bs-{{ request.user.profile.foreground }});
            }
        </style>
        {% block css %}{% endblock %}
    </head>
    <body class="sb-nav-fixed ">
        <!-- <nav class="sb-topnav navbar navbar-expand navbar-dark bg-light"> -->
        <nav class="sb-topnav navbar navbar-expand ">
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 " id="sidebarToggle" href="#!"><i class="icon bi bi-three-dots-vertical"></i></button>
            <!-- Navbar Brand-->
            <!-- <a class="navbar-brand ps-3" href="{% url 'explore' %}">Flashlight</a> -->
            <a class="navbar-brand " href="{% url 'explore' %}">Flashlight</a>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <!-- <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" /> -->
                    <!-- <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button> -->
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="icon bi bi-person-circle"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'globals' %}">Global Context</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <form class="dropdown-item" method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button class="btn btn-danger w-100" type="submit">logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion" id="sidenavAccordion">
                    <div class="sb-sidenav-menu colapse border">
                        <div class="nav">
                            {% for topic, links in settings.FLASHLIGHT_NAV_MENU.items %}
                                <li class="mb-1">
                                    <button class="btn btn-toggle align-items-center rounded collapsed text-{% if user.profile.mode == 'dark' %}light{% else %}dark{% endif %}" data-bs-toggle="collapse" data-bs-target="#{{ topic }}-collapse" aria-expanded="true">
                                        {{ topic | upper }}
                                    </button>
                                    <div class="container">
                                        <div class="collapse" id="{{ topic }}-collapse">
                                            <ul class="btn-toggle-nav list-unstyled pb-1 small">
                                                {% for text, name in links.items %}
                                                    <li><a href="{% url name %}" class="rounded text-{% if user.profile.mode == 'dark' %}light{% else %}dark{% endif %}">{{ text }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        {{ request.user.username }}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        {% if messages %}
                            <div class="text-center">
                                {% for message in messages %}
                                    {% bootstrap_alert message %}
                                {% endfor %}
                            </div>
                        {% endif %}
						{% block content %}
							<h5 class="text-center">Welcome {{ request.user.username }}</h5>
						{% endblock %}
                    </div>
                </main>
                <footer class="py-4 mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; 2024</div>
                            <!-- <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div> -->
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script defer="defer" src="{% static 'js/fl-explore.js' %}"></script>
        {% block js %}{% endblock %}
    </body>
</html>
