{% load static %}
{% load django_bootstrap5 %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Shine a light on your data." />
    <meta name="author" content="Clifford Bressette" />

    <title>Flashlight</title>

    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
</head>

  <body>

    {% block content %}
    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#">
          <h1>Flashlight
        </a>
        <a class="py-2 d-none d-md-inline-block" href="#">About</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Documentation</a>
        <!-- <a class="py-2 d-none d-md-inline-block" href="#">Support</a> -->
        <!-- <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a> -->
        <!-- <a class="py-2 d-none d-md-inline-block" href="#">Cart</a> -->
      </div>
    </nav>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Flashlight</h1>
        <p class="lead font-weight-normal">: A portable tool to shine a light on your data.</p>
          <a class="btn btn-outline-primary" href="/docs/admin/index.md">Admin Manual</a>
          <a class="btn btn-outline-primary" href="/docs/user/index.md">User Manual</a>
            <a class="btn btn-outline-secondary" href="/explore">Explore</a>
      </div>
    </div>
    {% endblock %}
    {% block js %}{% endblock %}

  </body>
</html>
